body {
  background: #181818;
  color: #a7a7a7;
}

#header-bar {
  padding: 15px;
  background-color: #222222;
}

.header-logo-wrapper {
  width: 70px;
  height: auto;
  line-height: 0;
  vertical-align: middle;
  display: inline-block;
}

#survey-builder-wrapper {
  margin-bottom: 100px;
}

.results-body {
  background-color: #fff;
  color: #222222;
}

.results-body .section-label {
  color: #1e70cd;
}

.survey-body {
}

#survey-main-wrapper {
  width: 100%;
  height: auto;
  border: 1px solid lightgrey;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
  background-color: #181818;
  transition: all 0.5s ease;
  font-family: 'Arial';
}

@media (min-width: 576px) {
  #survey-main-wrapper {
    width: 500px;
  }
}

#survey-main-wrapper .header-title {
  font-size: 20px;
  color: #fff;
  padding-left: 15px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: #222222;
}

.save-poll-btn {
  float: right;
  background-color: #e23d2f;
  color: white;
  margin-top: 15px;
  border-radius: 0;
}

.survey-page-wrapper {
  transition: opacity 0.5s ease;
}

.answer-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.answer-title {
  cursor: pointer;
}

.answer-text {
  font-size: 14px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid lightgrey;
  transition: all 0.3s ease;
  position: relative;
  width: 100%;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.answer-image {
  height: 200px;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  width: 100%;
  text-align: center;
  border: 0;
}

.answer-button {
  font-size: 14px;
  line-height: 40px;
  background-color: rgb(41, 41, 41);
  border-bottom: 1px solid lightgrey;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  position: relative;
  width: 100%;
  color: #a7a7a7;
  transition: all 0.2s ease;
}

.answer-free-text {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 40px;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.add-question-btn,
.add-answer-btn {
  background-color: #e43d2f;
  color: #fff;
  border: 0;
  margin-left: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 24px;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  transition: opacity 0.5s ease;
}

.add-question-btn:hover,
.add-answer-btn:hover {
  opacity: 0.7;
}

.add-answer-txt {
  line-height: 28px;
  margin: 0;
}

.answer-image img {
  height: 150px;
  display: inline-block;
  vertical-align: middle;
}

.question-type-select,
.question-format-select {
  float: right;
  margin-left: 10px;
}

.answer-image-title {
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
}

.answer-button:hover {
  background-color: rgb(228, 61, 47);
  color: #fff;
}

.answer-text img {
  height: 100%;
}

.selected-answer {
  background-color: grey;
  border-left: 3px solid rgb(228, 61, 47);
  color: #fff;
}

.answer-text.selected-answer {
  background-color: rgba(255, 255, 255, 1);
}

.survey-submit-btn {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(228, 61, 47);
  color: #fff;
  display: block;
  font-size: 12px !important;
}

.survey-starting-page {
  transition: opacity 0.5s ease;
  min-height: 50px;
  padding: 0;
  padding-top: 0;
}

.survey-thankyou-content {
  min-height: 50px;
  padding: 15px;
  transition: opacity 0.5s ease;
  color: #a7a7a7;
}

.survey-welcome-content {
  min-height: 50px;
  padding: 15px;
  transition: opacity 0.5s ease;
  color: #a7a7a7;
}

.extra-field-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
}

.op-0 {
  opacity: 0 !important;
}

.op-1 {
  opacity: 1 !important;
}

.d-none {
  display: none;
}

.error-field {
  border: 2px solid red;
}
